{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 80,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@/constants/(.*)$",
    "@/@types/(.*)$",
    "@/utils/(.*)$",
    "@/hooks/(.*)$",
    "@/components/(.*)$",
    "@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
